AWS_REGION='ap-southeast-2'
DOCUMENT_STORAGE_BUCKET_NAME='local-document-storage-bucket'
API_URL='http://localhost:3333/v1'
CLIENT_URL='http://localhost:4200'
REVOCATION_LIST_BUCKET_NAME='local-revocation-bucket'
REVOCATION_LIST_BIT_STRING_LENGTH='8'
DYNAMODB_DOCUMENTS_TABLE='local-documents-tables'
ENABLE_LOCALSTACK='true'
LOCALSTACK_ENDPOINT='http://localhost:4566'
LOCALSTACK_DYNAMO_DB_AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID=test_access_key
AWS_SECRET_ACCESS_KEY=test_secret_key
DEBUG_USE_CONSOLE='true'
KMS_KEY_ID='anything'
